<ion-header>
  
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Timetable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-slides>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title >Monday</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                9-10
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                10-11
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Small Break
              </ion-col>
              <ion-col>
                11-11:15
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                11:15-12:15
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                12:15-1:15
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Long Break
              </ion-col>
              <ion-col>
                1:15-2
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                2-3
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                3-4
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tuesday</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                9-10
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                10-11
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Small Break
              </ion-col>
              <ion-col>
                11-11:15
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                11:15-12:15
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                12:15-1:15
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Long Break
              </ion-col>
              <ion-col>
                1:15-2
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                2-3
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                3-4
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Wednesday</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                9-10
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                10-11
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Small Break
              </ion-col>
              <ion-col>
                11-11:15
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                11:15-12:15
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                12:15-1:15
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Long Break
              </ion-col>
              <ion-col>
                1:15-2
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                2-3
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                3-4
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Thursday</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                9-10
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                10-11
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Small Break
              </ion-col>
              <ion-col>
                11-11:15
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                11:15-12:15
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                12:15-1:15
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Long Break
              </ion-col>
              <ion-col>
                1:15-2
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                2-3
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Subject1
              </ion-col>
              <ion-col>
                3-4
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
