// ion-slides {
//   height: 100%;
// }

// .swiper-slide {
//   display: block;
// }

h2 {
  margin: 10px;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 100%;
  padding: 10px ;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 12px;
  line-height: 1.5; 
}



.textcolorHeading {
  color: #eceff1;
  text-align: center;
}
.textcolorContent {
  text-align: center;

  color: #90a4ae;
  // font-size: medium;
}
