<ion-header color="dark">
  <ion-toolbar color="dark">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" scrollbar-y="false">
  <ion-slides >
    <ion-slide>
      <img src="assets/SPIT_Building.jpg" style="height:200px" />
    </ion-slide>
    <ion-slide>
      <img src="assets/mca_staff.jpeg" style="height:200px" />
    </ion-slide>
    <ion-slide>
      <img src="assets/mca_senior_3.jpg" style="height:200px" />
    </ion-slide>
    <ion-slide>
      <img src="assets/mca_senior_2.jpeg" style="height:200px" />

    </ion-slide>
    <ion-slide>
      <img src="assets/mca_ace_2019.jpeg" style="height:200px" />

    </ion-slide>
  </ion-slides>
  <h3 class="textcolorHeading">Sardar Patel Institute of Technology</h3>
  <p class="textcolorContent"><br />Bhavan’s Campus, Munshi Nagar,<br />Andheri (West), Mumbai 400 058
    <br /><br />Phone:
    (91)-(022)-26707440,
    26287250
    <br />principal@spit.ac.in</p>
</ion-content>