<ion-header color="dark">
  <ion-toolbar color="dark">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="assets/SPIT_Building.jpg"/>
        <h2>Sardar Patel Institute of Technology</h2>
        <p>Bhavan’s Campus, Munshi Nagar,<br/>Andheri (West), Mumbai 400 058 <br/>Phone: (91)-(022)-26707440, 26287250 <br/>principal@spit.ac.in</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/Mission.png"/>
      <!-- <h2>What is Ionic?</h2> -->
      <p>Our Mission

        Provide high quality education in engineering and technology promoting the Indian Values and Ethos that will prepare the participants to lead lives of personal integrity and civic responsibility in a global society.
        Promote an Educational Environment that combines academic study with the excitement of intellectual curiosity for engineers of tomorrow.
        Enhance career opportunities for students through Industry-Institute interaction, value-added courses and projects in cutting edge technology.
        Inculcate Entrepreneurial mindset in students to make them job creators.
        Focus on applied research to create next generation technologies.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/Vission.png"/>
      <!-- <h2>What is Ionic Appflow?</h2> -->
      <p>To build a renowned institute which will produce graduate engineers with global competency and social sensitivity.</p>
    </ion-slide>

  </ion-slides>
</ion-content>
