<ion-app>
<ion-split-pane content-id="menu">
  <ion-menu content-id="menu" type="overlay">
    <ion-header>
      <ion-toolbar translucent color="dark">
        <ion-title>Dashboard</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="dark">
      <ion-list color="dark" menu-close>
        <ion-item (click)="gotoHome()" color="dark" >
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label >Home</ion-label>
        </ion-item>
        <ion-item (click)="gotoTT()" color="dark">
          <ion-icon name="alarm" slot="start"></ion-icon>
          <ion-label>Timetable</ion-label>
        </ion-item>
        <ion-item (click)="gotoFeedback()" color="dark">
          <ion-icon name="paper" slot="start"></ion-icon>
          <ion-label>Feedback</ion-label>
        </ion-item>
        <ion-item (click)="gotoHttp()" color="dark">
          <ion-icon name="git-compare" slot="start"></ion-icon>
          <ion-label>Contact Http</ion-label>
        </ion-item>
        <ion-item (click)="gotoFileHandling()" color="dark">
          <ion-icon name="folder" slot="start"></ion-icon>
          <ion-label>File Handling</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-split-pane>
</ion-app>
