<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Http Get</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" style="text-align: center;">
    <h4>Click to button to fetch data</h4>
    <button type="button" class="btn btn-primary" (click)="getDetails()">Get Data</button>
  </div>


  <ion-card *ngFor="let user of users" fullscreen>
    <ion-card-header>
      <ion-card-title>{{user.first_name}} {{user.last_name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="font-style: italic;font-size: small;">
      {{user.email}}
    </ion-card-content>
  </ion-card>

</ion-content>